<ion-signup-view>
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row" ng-if="errorMessage">
      <p ng-repeat="error in errorMessage.errors">
        {{error}}
      </p>
    </div>
    <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="registrationForm.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registrationForm.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password confermation</span>
          <input type="password" ng-model="registrationForm.password_confirmation">
        </label>
        <label class="item">
          <button type="submit" class="button button-block button-assertive">Sign Up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-signup-view>
